---
layout: default
title: Resumee
---

	<section id="hero" class="section pp-scrollable hero-03 pp-section active" data-anchor="hero" style="z-index: 8; background-color: rgb(241, 243, 246)">
	<div class="display-table">
		<div class="display-content">
			<div class="container">
				<div class="row align-items-center">

					<div class="col-lg-6 order-2 order-lg-1">
						<div class="hero-content">
							<h3 class="dark-color mb-0">I'm Marjorie Staquet</h3> 
							<h1 class="dark-color text-capitalize mb-3">
								<span class="base-color">A</span>
								<span class="element" data-elements="UI Designer.,Web Designer.,Web Developer."></span>
								<span class="typed-cursor"></span>
							</h1>
							<p class="mx-auto mb-0 dark-color"> Etudiante en MIAGE</p>


						</div>


					</div>

	<div class="col-lg-6 order-1 order-lg-2">
	<div class="hero-image">
		<div class="square">
			<img src="assets/images/element_square.png" alt="/" />
		</div>
	<div class="circle"></div>
	<div class="circle-2"></div>
	<div class="circle-3"></div>
	<div class="floating"></div>
	<div class="image-border rounded-circle">
	<img src="assets/images/marjorie_staquet_photo.jpg" alt="/" class="rounded-circle img-fluid"/>
		</div>
	</div>
	</div>
	</div>
	</div>
	
	</div>
	</div>
	</section>

  <!-- {% include postcards.html %}-->
<div>
   {% if site.paginate %}
    {% assign posts = paginator.posts %}
  {% else %}
    {% assign posts = site.posts %}
  {% endif %}


  {%- if posts.size > 0 -%}
    {%- if page.list_title -%}
      <h2 class="post-list-heading">{{ page.list_title }}</h2>
    {%- endif -%}
    <ul class="post-list">
      {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
      {%- for post in posts -%}
      <li>
        <span class="post-meta">{{ post.date | date: date_format }}</span>
        <h3>
          <a class="post-link" href="{{ post.url | relative_url }}">
            {{ post.title | escape }}
          </a>
        </h3>
        {%- if site.show_excerpts -%}
          {{ post.excerpt }}
        {%- endif -%}
      </li>
      {%- endfor -%}
    </ul>

    {% if site.paginate %}
      <div class="pager">
        <ul class="pagination">
        {%- if paginator.previous_page %}
          <li><a href="{{ paginator.previous_page_path | relative_url }}" class="previous-page">{{ paginator.previous_page }}</a></li>
        {%- else %}
          <li><div class="pager-edge">•</div></li>
        {%- endif %}
          <li><div class="current-page">{{ paginator.page }}</div></li>
        {%- if paginator.next_page %}
          <li><a href="{{ paginator.next_page_path | relative_url }}" class="next-page">{{ paginator.next_page }}</a></li>
        {%- else %}
          <li><div class="pager-edge">•</div></li>
        {%- endif %}
        </ul>
      </div>
    {%- endif %}

  {%- endif -%}
	</div>