<section id="experience" class="section pp-scrollable hero-03 pp-section active" data-anchor="experience" style="z-index: 8; background-color: rgb(241, 243, 246)">
	<div class="display-table">
		<div class="display-content">
			<div class="container">
				<div class="row align-items-center">
					<div class="col-lg-6 order-2 order-lg-1">
						<h2>Experience</h2>
						<div class="timeline">
							<ul class="timeline-holder">

								<li class="timeline-event">
									<span class="timeline-circle">
										</span>
										<div class="timeline-event-content">
											<b>2015 - 2017</b>
											 "Turpis metus sit diam purus leo in varius ac quam. Nunc amet tristique volutpat adipiscing vulputate phasellus. Eget enim aliquam euismod mauris in vitae viverra blandit lectus diam feugiat. Nunc amet tristique volutpat adipiscing vulputate phasellus. Eget enim aliquam."

										</div>
										<div class="timeline-event-date">2015</div>
								</li>

								<li class="timeline-event">
									<span class="timeline-circle">
										</span>
										<div class="timeline-event-content">
											<b>2015 - 2017</b>
											 "Turpis metus sit diam purus leo in varius ac quam. Nunc amet tristique volutpat adipiscing vulputate phasellus. Eget enim aliquam euismod mauris in vitae viverra blandit lectus diam feugiat. Nunc amet tristique volutpat adipiscing vulputate phasellus. Eget enim aliquam."

										</div>
										<div class="timeline-event-date">2013</div>
								</li>

								<li class="timeline-event-without-before">
									<span class="timeline-circle">
										</span>
										<div class="timeline-event-content">
											<b>2015 - 2017</b>
											 "Turpis metus sit diam purus leo in varius ac quam. Nunc amet tristique volutpat adipiscing vulputate phasellus. Eget enim aliquam euismod mauris in vitae viverra blandit lectus diam feugiat. Nunc amet tristique volutpat adipiscing vulputate phasellus. Eget enim aliquam."

										</div>
										<div class="timeline-event-date">2012</div>
								</li>

							</ul>
						</div>
					</div>

					<div class="col-lg-6 order-1 order-lg-2">
						<h2>Cursus</h2>
						<div class="timeline">
							<ul class="timeline-holder">

								<li class="timeline-event">
									<span class="timeline-circle">
										</span>
										<div class="timeline-event-content">
											<b>2015 - 2017</b>
											 "Turpis metus sit diam purus leo in varius ac quam. Nunc amet tristique volutpat adipiscing vulputate phasellus. Eget enim aliquam euismod mauris in vitae viverra blandit lectus diam feugiat. Nunc amet tristique volutpat adipiscing vulputate phasellus. Eget enim aliquam."

										</div>
										<div class="timeline-event-date">2015</div>
								</li>

								<li class="timeline-event">
									<span class="timeline-circle">
										</span>
										<div class="timeline-event-content">
											<b>2015 - 2017</b>
											 "Turpis metus sit diam purus leo in varius ac quam. Nunc amet tristique volutpat adipiscing vulputate phasellus. Eget enim aliquam euismod mauris in vitae viverra blandit lectus diam feugiat. Nunc amet tristique volutpat adipiscing vulputate phasellus. Eget enim aliquam."

										</div>
										<div class="timeline-event-date">2013</div>
								</li>

								<li class="timeline-event-without-before">
									<span class="timeline-circle">
										</span>
										<div class="timeline-event-content">
											<b>2015 - 2017</b>
											 "Turpis metus sit diam purus leo in varius ac quam. Nunc amet tristique volutpat adipiscing vulputate phasellus. Eget enim aliquam euismod mauris in vitae viverra blandit lectus diam feugiat. Nunc amet tristique volutpat adipiscing vulputate phasellus. Eget enim aliquam."

										</div>
										<div class="timeline-event-date">2012</div>
								</li>

							</ul>
						</div>



					</div>



				</div>
			</div>
			</div>
		</div>


</section>