---
---
@import url("main.css");
@import 'bootstrap/bootstrap';
@import 'custom/syntax_highlighting.scss';
/*-@import 'custom/fontawesome.css';-*/
@import 'custom/lineicons.css';
/*-@import 'fonts/lineIcons.ttf';-*/

/*-------------------------
         GENERAL
-------------------------*/
  /*--  font-family: 'Muli', sans-serif;--*/
   /*--   cursor: url('../images/icons8-cursor-64.png'), pointer;--*/
body{

    font-weight: 300;
    background-color: #f1f3f6!important;

}
.section{
    background-color: #f1f3f6!important;
}
.full-screen {
    height:100vh;
}
h1, h2, h3, h4, h5, h6, .h1{
    font-family: 'Poppins', sans-serif;
    line-height: 1.618;
}
.h1{
    margin-top: 0;
    margin-bottom: .5rem;
}
.z-index{
    z-index: 2;
}
.w-40{
    width: 40% !important;
}
h2,
h2 span{
    font-weight: 700;
}
.pt-6, .py-6{
    padding-top: 6rem;
}
.pb-6, .py-6{
    padding-bottom: 6rem;
}
.mr-4r{
    margin-right: 4rem;
}
.ml-4r{
    margin-left: 4rem;
}
.max-width-450 {
    max-width: 450px;
    margin: 0 auto;
}
a:hover{
    text-decoration: none;
}
a, button{
    outline: none !important;
}
.box-border, .box-hover-border{
    background-color: #f1f3f6;
    border-radius: 1.25rem;
    box-shadow:3px 3px 3px #e1e1e1, -3px -3px 3px #fff;
}
.box-hover-border:hover{
    box-shadow: inset 3px 3px 3px #dadada, inset -3px -3px 3px #fafafa;
}
.button-border{
    background: #f1f3f6;
    box-shadow: 3px 3px 3px #dadada, -3px -3px 3px #fafafa;
    display: inline-block;
    padding: 1px;
    border-radius: 1rem;
}
.pill-button{
    border-radius: 1rem;
    border: none;
    padding: 10px 30px;
    transition: all 0.3s ease;
    font-size: 16px;
    display: inline-block;
    color: #fafafa;
    background-color: #ff4274;
}
.pill-button:hover, .pill-button.active{
	color: #fafafa;
    background-color: #f7396b;
}

.image-border {
    background-color: #f1f3f6;
    border-radius: 1.25rem;
    box-shadow: 3px 3px 3px #dadada, -3px -3px 3px #fafafa;
    padding: 5px;
}
.image-border img{
    width: 100%;
    border-radius: 1rem;
}
.display-table{
    display: table;
    width: 100%;
    height: 100%;
}
.display-content{
    vertical-align: middle;
    display: table-cell;
    padding: 100px 0;
}
.center-item{
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -moz-box-orient: vertical;
    -moz-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.bg-base-color{
    background-color: #ff4274 !important;
}
.base-color{
    color: #ff4274 !important;
}
.dark-color{
    color: #5f5f5f;
}
.dark-bg{
    background-color: #2c2d30;
}
.title-wrapper{
    text-align: center;
    font-size: 79px;
    font-weight: 900;
    color: rgba(95, 95, 95, .1);
    font-family: 'Poppins', sans-serif;
}

.title-content h2{
  position: relative;
  display: inline-block;
  font-size: 40px;
  font-weight: 600;
}

.p {
    margin-top: 0;
    margin-bottom: 1rem;
    font-family: 'Muli', sans-serif;
      font-weight: 300;
}

.h6 {
    display: block;
    font-size: 0.67em;
    margin-block-start: 2.33em;
    margin-block-end: 2.33em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    font-weight: 500;
}

@media (max-width: 991px) {
.hero-03 .hero-content {
    text-align: center;
    margin-top: 32px;
}}

/*-------------------------
         Fixed
-------------------------*/
header {
    padding: 15px;
    width: 100%;
    background-color: transparent;
    position: fixed;
    z-index: 1030;
    top: 0;
}
.logo{
    color: #5f5f5f;
    font-weight: 600;
    font-size: 24px;
    margin-left: 14px;
}
.logo:hover{
    color: #5f5f5f;
}
.social-box{
    position: absolute;
    left: 1.5rem;
    bottom: 0;
    width: 1.5rem;
    z-index: 100;
}
.follow-label{
    padding-right: 5rem;
    position: absolute;
    bottom: 100%;
    right: 0;
    color: #5f5f5f;
    line-height: 1.5rem;
    height: 1.5rem;
    white-space: nowrap;
    transform-origin: 100% 0;
    text-align: right;
    transform: rotate(90deg);
}
.follow-label:before{
    content: '';
    position: absolute;
    top: 50%;
    right: 0;
    width: 60px;
    height: 2px;
    background-color: #018abe;
}
.social i{
    display: block;
    margin-bottom: 1rem;
    text-align: center;
}
.social a{
    color: #5f5f5f;
}
.social a:hover{
    color: #018abe !important;
}
.social-icon a{
    background-color: #f1f3f6;
    transition: all 0.3s ease;
    width: 38px;
    height: 38px;
    line-height: 38px;
    display: inline-block;
    box-shadow: 3px 3px 3px #dadada, -3px -3px 3px #fafafa;
    border-radius: 4px;
    text-align: center;
}
.social-icon a:hover{
    box-shadow: inset 3px 3px 3px #dadada, inset -3px -3px 3px #fafafa;
}
.social-icon .list-inline-item:not(:last-child) {
    margin-right: 12px;
}
.social-icon a{
    color: #5f5f5f;
}
.social-icon a:hover{
    color: #018abe;
}
#pp-nav li{
    margin: 10px 8px;
    width: 39px;
}
#pp-nav li:hover span{
    background-color: #018abe !important;
}
#pp-nav li span{
    width: 32px;
    height: 4px;
    border-radius: 25px;
    background-color: #5f5f5f;
    border: none;
    top: 5px;
}
#pp-nav li .active span{
    background-color: #018abe !important;
}
#pp-nav li .active span::before {
    content: '';
    position: absolute;
    left: -20px;
    width: 15px;
    height: 15px;
    border-radius: 15px;
    background: transparent;
    top: -6px;
    border: 2px solid #018abe;
}
#pp-nav li .active span:after{
    content: '';
    position: absolute;
    left: -15px;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background: transparent;
    top: -1px;
    border: 2px solid  #018abe;
}
#pp-nav li .pp-tooltip {
    font-size: 10px;
    font-weight: 500;
    transition: all 0.3s ease;
    transform: translateY(-3px);
    padding-right: 1.5rem;
    color: #5f5f5f !important;
}
#pp-nav li .active ~ .pp-tooltip {
    padding-right: 2.5rem;
}
#pp-nav.right {
    right: 28px;
}


/*-------------------------
          HERO
-------------------------*/
.hero .personal-item h1 {
    font-size: 2rem !important;
}
.hero .hero-content {
    position: absolute;
    top: 50%;
    left: 0;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    z-index: 2;
    right: 0;
}
.hero .hero-content p {
    max-width: 500px;
}

.hero-image img{
    z-index: 10;
    position: relative;
}


/*-------------------------
          HERO 3
-------------------------*/
.circle{
    width: 85px;
    height: 85px;
    background: #018abe;
    border-radius: 50%;
    opacity: 0.4;
    position: absolute;
    top: 150px;
    right: 34px;
    overflow: hidden;
    animation: circling 18s linear infinite;
    z-index: 11;
}
@keyframes circling{
    0%{
        transform:rotate(0deg)
        translate(-80px)
        rotate(0deg);

    }
    100%{
        transform:rotate(360deg)
        translate(-80px)
        rotate(-360deg);
    }
}
.circle-2{
    width:55px;
    height:55px;
    background: #d885ff;
    border-radius:50%;
    opacity: 0.4;
    position:absolute;
    top:250px;
    bottom:250px;
    left:80px;
    right:0;
    overflow:hidden;
    margin:auto;
    animation: circlereverse 22s linear infinite;
    z-index: 11;
}

@keyframes circlereverse{
    0%{
        transform: rotate(0deg)
        translate(-275px)
        rotate(0deg);

    }
    100%{
        transform: rotate(-360deg)
        translate(-275px)
        rotate(360deg);
    }
}
.circle-3{
    width:75px;
    height:75px;
    background: #ffba20;
    border-radius:50%;
    opacity: 0.4;
    position:absolute;
    top:10px;
    bottom:0;
    left:0;
    right:0;
    overflow:hidden;
    margin:auto;
    animation: circle 15s linear infinite;
    z-index: 11;
}

@keyframes circle{
    0% {
        transform: rotate(0deg)
        translate(-275px)
        rotate(0deg);
    }
    100% {
        transform: rotate(360deg)
        translate(-275px)
        rotate(-360deg);
    }
}

.floating{
    width:50px;
    height:50px;
    background:#d23e50;
    border-radius:50%;
    opacity: 0.4;
    position: absolute;
    top: 10px;
    right: 40px;
    z-index: 1;
    animation: floating 5s linear infinite
}
@keyframes floating{
    0%{
        transform: translate(0px);

    }
    50% {
        transform: translate(-50px);
    }
    100% {
        transform: translate(0px);
    }
}
.square {
    position: absolute;
    bottom: 25px;
    z-index: 0;
    left: -10px;
    -webkit-animation: rotate 25s linear infinite;
    animation: rotate 25s linear infinite;
}
@keyframes rotate{
    0%{
        transform: rotate(0deg);

    }
    100% {
        transform: rotate(360deg);
    }
}



.typed-cursor.typed-cursor--blink {
    animation: typedjsBlink 0.7s infinite;
    -webkit-animation: typedjsBlink 0.7s infinite;
    animation: typedjsBlink 0.7s infinite;
}

/*-------------
SVG
------------*/
.webcoderskull {
  font-size: 0.5em;
}

svg {
  position: absolute;
  width: 100%;
  height: 100%;
   background: #000;
  background-size: 0.12em 100%;
  font: 16em/1 Arial;
}

.webcoderskull-1 {
  fill: none;
  stroke: white;
  stroke-dasharray: 7% 28%;
  stroke-width: 3px;
  -webkit-animation: stroke-offset 7s infinite linear;
          animation: stroke-offset 7s infinite linear;
}
.webcoderskull-1:nth-child(1) {
  stroke: #360745;
  stroke-dashoffset: 7%;
}
.webcoderskull-1:nth-child(2) {
  stroke: #d61c59;
  stroke-dashoffset: 14%;
}
.webcoderskull-1:nth-child(3) {
  stroke: #e7d84b;
  stroke-dashoffset: 21%;
}
.webcoderskull-1:nth-child(4) {
  stroke: #efeac5;
  stroke-dashoffset: 28%;
}
.webcoderskull-1:nth-child(5) {
  stroke: #1b8798;
  stroke-dashoffset: 35%;
}

@-webkit-keyframes stroke-offset {
  50% {
    stroke-dashoffset: 35%;
    stroke-dasharray: 0 87.5%;
  }
}

@keyframes stroke-offset {
  50% {
    stroke-dashoffset: 35%;
    stroke-dasharray: 0 87.5%;
  }
}


/*-------------------------
         Timeline
-------------------------*/

@media screen and (max-width: 767px) {
ul.timeline-holder {
    padding-left: 70px;
    }
}

ul.timeline-holder {
	margin: 0;
	padding: 25px 25px 25px 55px;
	background-color: #e9ecef;
    border-radius: 1.25rem;
}

@media screen and (max-width: 767px) {
li.timeline-event {
    margin-left: 30px;
}
}

@media screen and (max-width: 1020px) {
li.timeline-event {
    margin-bottom: 30px;
}
}

span.timeline-circle {
    position: absolute;
    top: 0;
    left: -30px;
}


@media screen and (max-width: 767px) {
.timeline-event-content {
    margin-left: 10px;
}
}

.timeline-event-content {
    line-height: 160%;
    text-align: left;
    margin-left: 50px;
}

@media screen and (max-width: 767px) {
.timeline-event-date {
    left: -100px;
}
}

li.timeline-event-without-before{
	 margin: 0 0 42px 60px;
    position: relative;
    padding-top: 5px;
    list-style: none;
    transition: .3s;
}



li.timeline-event{margin:0 0 42px 90px;position:relative;padding-top:5px;list-style:none;transition:.3s}
li.timeline-event:hover{color:#1ab394}
li.timeline-event:before{content:"";width:3px;height:calc(100% - 20px);position:absolute;background-color:#1ab394;left:-30px;top:51px}
li.timeline-event:last-child:before{display:none}
li.timeline-event:last-child{margin-bottom:0}
li.timeline-event 
span.timeline-circle:after{content:"";position:absolute;width:19px;height:19px;left:-8px;top:11px;border-radius:90%;background-color:#1ab394;opacity:0;transition:opacity .3s}
li.timeline-event:hover 
span.timeline-circle:after{opacity:1}
span.timeline-circle{position:absolute;top:0;left:-30px}
span.timeline-circle:before{content:"";display:block;width:35px;height:35px;border-radius:90%;border:3px solid #1ab394;position:absolute;left:-16px;top:3px;z-index:1;transition:.3s}
.timeline-event-date{position:absolute;left:-115px;top:2px;transition:.3s;color:#1ab394;font-weight:700}
li.timeline-event:hover 
.timeline-event-date{transform:translateX(-10px)}
.timeline-event-content{line-height:160%;text-align:left;margin-left:50px}



/*-------------------------
          BLOG
-------------------------*/
.blog .blog-item {
  margin: 30px 0;
}

.blog .blog-content {
  padding: 24px 16px;
}

.blog .blog-content .list-inline-item:not(:last-child) {
  margin-right: 3rem;
}

.blog .blog-image {
  position: relative;
  display: inline-block;
  background-color: transparent;
}

.blog .blog-image img {
  display: inline-block;
  border-radius: 1.25rem 1.25rem 0 0;
  width: 100%;
}


.lni-comment:before {
    content: "\e99f";
}

.lni-calendar:before {
    content: "\e988";
}

/*-------------------------
        Work SKILL
-------------------------*/
.skill-box {
  margin-top: 30px;
}

.skill-box .skillbar {
  position: relative;
  display: block;
  width: 100%;
  height: 10px;
  border-radius: 5px;
  transition: 0.1s linear;
  background-color: #f1f3f6;
  box-shadow: inset 3px 3px 8px rgba(55, 84, 170, 0.3), inset -3px -3px 8px white;
}

.skill-box .skillbar:not(:last-child) {
  margin-bottom: 56px;
}

.skill-box .skillbar-title {
  position: absolute;
  top: -28px;
  left: -17px;
  font-weight: 600;
  font-size: 14px;
}

.skill-box .skillbar-title span {
  margin-left: 18px;
}

.skill-box .fill-skillbar {
  height: 10px;
  width: 0;
  border-radius: 5px;
  float: left;
  background: #ff645e;
}

.skill-box .skill-bar-percent {
  position: absolute;
  font-weight: 500;
  bottom: 16px;
  right: 0;
}

/*-------------------------
      Language Skill
-------------------------*/
.language-bar {
  padding: 35px 30px;
  margin-top: 30px;
}

.language-skill:not(:last-child) {
  margin-bottom: 15px;
}

.language-skill h4 {
  font-size: 16px;
}

.language-skill h4 span {
  color: #5f5f5f;
  font-size: 14px;
  font-weight: normal;
}

.border-style {
  height: 2px;
  width: 65px;
  margin: 16px auto;
  transition: all 0.5s;
  background-color: #ff4274;
}

.resume-title:hover .border-style {
  width: 90px;
}

/*-------------------------
           MEDIA
-------------------------*/
@media (min-width: 1200px) {
  .pilling-page .container {
    max-width: 1050px;
  }
}

@media (max-width: 1199px) {
  .section {
    padding-right: 6rem;
    padding-left: 6rem;
  }
  .hero-01 .hero-slide {
    background-size: auto 100%;
  }
  .hero-01 .hero-slide.zoom {
    background-size: auto 200%;
  }
  .about .personal-info span {
    display: block;
  }
  .blog-content .list-inline-item {
    margin-right: 0;
  }
  .blog-image::before {
    height: 24%;
  }
  .color-scheme.hide {
    right: -50px;
  }
  .modal-dialog {
    max-width: 100%;
  }
}

@media (max-width: 991px) {
  header {
    background-color: #f8f8f8;
    box-shadow: 0 1px 3px 0 #eee;
  }
  .overlay-menu-toggler, .logo {
    color: #3c3c3c !important;
  }
  .arshia-dark header {
    background-color: #2c2d30;
    box-shadow: 0 1px 3px 0 #010101;
  }
  .hero-03 {
    text-align: center;
    overflow-x: hidden;
  }
  .hero-03 p {
    margin: auto;
  }
  .hero-03 .hero-content {
    text-align: center;
    margin-top: 32px;
  }
  .title-content h2 {
    font-size: 36px;
  }
  .title-content {
    top: -58px;
  }
  .contact-info-text {
    margin-top: 48px;
  }
}

@media (max-width: 767px) {
  .overlay-menu-toggler {
    right: 0.5rem;
  }
  .overlay-menu .overlay-menu-list .overlay-nav a, .overlay-menu .overlay-menu-list .overlay-nav span, .overlay-menu .overlay-menu-list .overlay-nav p {
    font-size: 12px;
    padding: 0.5rem;
  }
  #pp-nav, .social-box {
    display: none;
  }
  .section {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    padding-top: 2rem;
  }
  .color-scheme {
    right: 15px;
  }
  .social-box {
    display: none;
  }
}

@media (max-width: 575px) {
  .overlay-nav a, .overlay-nav span, .overlay-nav p {
    padding: 0.5rem;
    letter-spacing: 1px;
  }
  .overlay-menu .overlay-menu-list .overlay-nav > ul {
    width: 100%;
    float: none;
    margin-bottom: 2rem;
  }
  .hero-01 .scroll-down span, .hero-02 .scroll-down {
    bottom: 64px;
  }
  .title-wrapper {
    font-size: 48px;
  }
  .title-content {
    top: -44px;
  }
  .title-content h2 {
    font-size: 32px;
  }
  .display-table, .display-content {
    display: block;
  }
  .testimonial .testimonial-item {
    padding: 15px;
  }
  #message.toast {
    top: 18px;
    left: inherit;
    font-size: 12px;
    padding: 3px 0;
  }
}

@media (max-width: 380px) {
  #message.toast {
    top: 60px;
    left: 15px;
  }
}

@media (max-width: 991px) {
.hero-03 .hero-content {
    text-align: center;
    margin-top: 32px;
}
}

@media (max-width: 991px) {
.hero-03 {
    text-align: center;
    /* overflow-x: hidden; */
}
}